<!DOCTYPE html>
<html>

<head>
    <link rel="stylesheet" href="stylesheets/style.css">
    <meta content="width=device-width, initial-scale=1" name="viewport" />
    <script src="/jquery/jquery.js"></script>
    <script>
        var alertLog = new Array;

        var promise = $.get("dbs/alertlog.json", function (data) {
            alertLog = data;
        });

        promise.done(function (data) {
            alertLog = JSON.stringify(alertLog);
            alertLog = JSON.parse(alertLog);
            var alertMessage;
            var alertGeos;

            $(document).ready(function () {
                for (i = 0; i < alertLog.length; i++) {
                    //Limit alert message output to 180 characters 
                    alertMessage = alertLog[i].desc;
                    if (alertMessage.length > 180) {
                        alertMessage = alertMessage.substring(0, 180) + " ...";
                    }
                    //Limit geocodes output to 2 geocodes 
                    alertGeos = alertLog[i].geo;
                    if (alertGeos.length >= 12) {
                        alertGeos = alertGeos.substring(0, 11) + "...";
                    }

                    $('#msglog').append('<tr><td><a href=/msg?' + alertLog[i].identifier + ">" + alertLog[i].identifier + '</a></td><td>' +
                        alertLog[i].sent + '</td><td>' + alertLog[i].sender + '</td><td>' + alertLog[i].status + '</td><td>' + alertLog[i].msgType +
                        '</td><td>' + alertGeos + '</td><td>' + alertMessage + '</td></tr>');
                }

            });
        })

    </script>
</head>

<body>
    <header id="header">
        <a href="./" id="backButton">
            <img id="back_button" class="alertLogo" src="images/back_arrow_header_icon.png" alt="Back button"></img>
        </a>
        <h1>AO APP</h1>
        <a href="https://www.fema.gov/emergency-managers/practitioners/integrated-public-alert-warning-system"
            target="_blank" id="headerLink">
            <img id="header_logo" class="femaLogo" src="images/pngkit_fema-logo-png_2426325.png" alt="FEMA logo"></img>
        </a>
    </header>
    <h2>Alert Log:</h2>
    <div class="logGrid">
        <table id="msglog">
            <tr>
                <th>Alert Number</th>
                <th>Sent Date/Time</th>
                <th>Sender's Email</th>
                <th>Submission Type</th>
                <th>Alert Type</th>
                <th>Geocode(s)</th>
                <th>Alert Message</th>
            </tr>
        </table>
    </div>
    <footer id="home-footer" class="footer">
        <div class="footer-container">
            <div class="footer-logo-container">
                <a href="https://www.fema.gov/" target="_blank" id="footerLink">
                    <img id="footer_logo" class="femaLogo" src="images/pngkit_fema-logo-png_2426325.png" alt="FEMA logo">
                </a>
            </div>
            <div class="footer-info-container">
                <a id="phone_number">1 (800) 621-3362</a>
                <a id="email" href="https://www.fema.gov/" target="_blank">www.fema.gov</a>
                <a href="./about" target="_blank" id="about">About AO App</a>
            </div>
        </div>  
    </footer>
</body>

</html>