<!DOCTYPE html>
<html>

<head>
    <link rel="stylesheet" href="stylesheets/style.css">
    <script src="javascripts/myScript.js"></script>
</head>

<body>
    <header id="header">
        <p id="invis"></p>
        <h1>AO APP (BETA)</h1>
        <a href="https://www.fema.gov/emergency-managers/practitioners/integrated-public-alert-warning-system" target="_blank">
            <img class="femaLogo" src="/images/pngkit_fema-logo-png_2426325.png" alt="FEMA logo">
        </a>
    </header>

    <h2 class="text">Enter your alert:</h2>
  
        <div class="alertGrid" id="alertInfo">
            <div id="msgTypeDrop" class="container">
            <label for="msgTypeDropdown" class="text"><strong>Your Message Type:</strong></label>
            <br>
                <div id="msgTypeDropdownMenu" class="dropdownMenu_style">
                    <select name="msgTypeDropdown" class="dropdownMenu" id="msgTypeDropdown" onchange="msgTypeOpt()">
                        <option value="Default">Select Message Type</option>
                        <option value="Alert">Alert</option>
                        <option value="Update">Update</option>
                        <option value="Cancel">Cancel</option>
                    </select>
                <br>
                </div>
            </div>
            <div id="categoryDrop" class="container">
                <label for="categoryDropdown" class="text"><strong>Your Alert Category:</strong></label>
                <br>
                <div id="categoryDropdownMenu" class="dropdownMenu_style">
                    <select name="categoryDropdown" class="dropdownMenu" id="categoryDropdown" onchange="categoryOpt()">
                        <option value="Default">Select Alert Category</option>
                        <option value="Geo">Geophysical (inc. Landslide)</option>
                        <option value="Met">Meteorological (inc. Flood)</option>
                        <option value="Safety">General Emergency and Public Safety</option>
                        <option value="Security">Law Enforcement, Military, Homeland and Local/Private Security</option>
                        <option value="Rescue">Rescue and Recovery</option>
                        <option value="Fire">Fire Suppression and Rescue</option>
                        <option value="Health">Medical and Public Health</option>
                        <option value="Env">Pollution and Other Environmental</option>
                        <option value="Transport">Public and Private Transportation</option>
                        <option value="Infra">Utility, Telecommunication, Other Non-Transport Infrastructure</option>
                        <option value="CBRNE">Chemical, Biological, Radiological, Nuclear or High-Yield Explosive Threat or Attack</option>
                        <option value="Other">Other Events</option>
                    </select>
                    <br>
                </div>
            </div>
            <div id="urgencyDrop" class="container">
                <label for="urgencyDropdown" class="text"><strong>Alert Urgency:</strong></label>
                <br>
                <div id="urgencyDropdownMenu" class="dropdownMenu_style">
                    <select name="urgencyDropdown" class="dropdownMenu" id="urgencyDropdown" onchange="urgencyOpt()">
                        <option value="Default">Select Alert Urgency</option>
                        <option value="Immediate">Immediate</option>
                        <option value="Expected">Expected</option>
                        <option value="Future">Future</option>
                        <option value="Past">Past</option>
                        <option value="Unknown">Unknown</option>
                    </select>
                    <br>
                </div>
            </div>
        </div>
    </div>
    <br>
        <div class="alertGrid">
            <div id="En90" class="container">
                <label for="alert90" class="text"><strong>Your 90 Character English Alert:</strong></label>
                <br>

                <div class="textarea_style">
                    <textarea id="alertEn90" class="alert90" name="alertEn90" oninput="countWord()" maxlength="90"></textarea>
                </div>
                <p id="wordsLeftEn90" class="text">Characters Left: 90</p>
                <br>
            </div>
            <div id="En360" class="container">
                <label for="alert360" class="text"><strong>Your 360 Character English Alert:</strong></label>
                <br>

                <div class="textarea_style">
                    <textarea id="alertEn360" class="alert360" name="alertEn360" oninput="countWord()" maxlength="360"></textarea>
                </div>
                <p id="wordsLeftEn360" class="text">Characters Left: 360</p>
            </div>
            <div id="Sp90" class="container">
                <label for="alert90" class="text"><strong>Your 90 Character Spanish Alert:</strong></label>
                <br>

                <div class="textarea_style">
                    <textarea id="alertSp90" class="alert90" name="alertSp90" oninput="countWord()" maxlength="90"></textarea>
                </div>
                <p id="wordsLeftSp90" class="text">Characters Left: 90</p>
                <br>
            </div>
            <div id="Sp360" class="container">
                <label for="alertSp360 " class="text "><strong>Your 360 Character Spanish Alert:</strong></label>
                <br>

                <div class="textarea_style">
                    <textarea id="alertSp360" class="alert360 " name="alertSp360 " oninput="countWord() " maxlength="360 "></textarea>
                </div>
                <p id="wordsLeftSp360 " class="text ">Characters Left: 360</p>
            </div>
        </div>
        <br><br>
        <div id="map">
            <iframe width="100% " height="600px " frameborder="0 " scrolling="no " marginheight="0 " marginwidth="0 " src="https://maps.google.com/maps?width=65%25&amp;height=600&amp;hl=en&amp;q=501%20E%20Orange%20St.,%20Tempe,%20AZ%2085281+(Arizona%20State%20University)&amp;t=&amp;z=14&amp;ie=UTF8&amp;iwloc=B&amp;output=embed ">
            </iframe><a href="http://www.gps.ie/ "></a>
        </div>
        <br><br>
        <div>
            <button class="button button1 ">Submit Alert!</button>
        </div>
        <footer id="footer ">
        </footer>
</body>


</html>
