<!DOCTYPE html>
<html>
    <head>
    <style>
        .button {
            background-color: #4CAF50; /* Green */
            border: none;
            color: white;
            padding: 15px 32px;
            text-align: center;
            align-content: center;
            text-decoration: none;
            display: inline-block;
            font-size: 16px;
            margin: 4px 2px;
            cursor: pointer;
        }
        .button1 {width: 50%;}
    </style>
        <body>
            <h1>AO APP (BETA)</h1>
            <h4>Enter your alert:</h4>
            <label for="alertEn">Your Alert:</label>
            <textarea id="alertEn" name="alertEn" rows="4" cols="30"></textarea>
            <br><br>
            <label for="alertSp">Spanish Alert:</label>
            <textarea id="alertSp" name="alertSp" rows="4" cols="30"></textarea>
            <br><br>
            <div style="width: 100%; text-align: center;">
                <iframe width="600px" height="600px" frameborder="0" scrolling="no" marginheight="0" 
                marginwidth="0" src="https://maps.google.com/maps?width=65%25&amp;height=600&amp;hl=en&amp;q=501%20E%20Orange%20St.,%20Tempe,%20AZ%2085281+(Arizona%20State%20University)&amp;t=&amp;z=14&amp;ie=UTF8&amp;iwloc=B&amp;output=embed">
            </iframe><a href="http://www.gps.ie/">truck gps</a>
            </div>
            <br><br>
            <div style="width:800px; margin:0 auto;">
                <button class="button button1">Submit Alert!</button>
            </div>
        </body>
    </head>
</html>