<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="stylesheets/style.css">
    <title>Home Page</title>
</head>

<body class="home-body">

    <header id="header">
        <p id="invis"></p>
        <h1><a href="#">AO APP</a></h1>
        <a href="https://www.fema.gov/emergency-managers/practitioners/integrated-public-alert-warning-system"
            target="_blank" id="headerLink">
            <img id="header_logo" class="femaLogo" src="images/pngkit_fema-logo-png_2426325.png" alt="FEMA logo"></img>
        </a>
    </header>
    <div id="alertPage">
        <p id="alertTest">Select Task:</p>
    </div>
    <div class="alertGrid2">
        <a href="/alert" id="alertIcon">
            <div id="alertPageButton1" class="container alertPageButton">
                <img id="alert_logo" class="alertLogo" src="images/WEA_ALERT_ICON.jpg" alt="Send an Alert Page">
                <label class="text"><strong>Send Alert</strong></label>
            </div>
        </a>
        <a href="/alertlog" id="alertLogIcon">
            <div id="alertPageButton2" class="container alertPageButton">
                <img id="alert_log_logo" class="alertLogo" src="images/WEA_LOG_ICON.png" alt="Log Page">
                <label class="text"><strong>Alert Log</strong></label>
            </div>
        </a>
        <a href="/about" id="aboutIcon">
            <div id="alertPageButton3" class="container alertPageButton">
                <img id="alert_log_logo" class="alertLogo" src="images/WEA_MEET_OUR_TEAM_ICON.png"
                    alt="Meet our Team Page">
                <label class="text"><strong>About Us</strong></label>
            </div>
        </a>
        <a href="/ipawsprofile" id="getProfileIcon">
            <div id="alertPageButton4" class="container alertPageButton">
                <img id="alert_log_logo" class="alertLogo" src="images/WEA_GET_PROFILE.png" alt="Get IPAWS Profile">
                <label class="text"><strong>Get IPAWS Profile</strong></label>
            </div>
        </a>
    </div>

    <footer id="home-footer" class="footer">
        <div class="footer-container">
            <div class="footer-logo-container">
                <a href="https://www.fema.gov/" target="_blank" id="footerLink">
                    <img id="footer_logo" class="femaLogo" src="images/pngkit_fema-logo-png_2426325.png" alt="FEMA logo">
                </a>
            </div>
            <div class="footer-info-container">
                <a id="phone_number">1 (800) 621-3362</a>
                <a id="email" href="https://www.fema.gov/" target="_blank">www.fema.gov</a>
                <a href="./about" target="_blank" id="about">About AO App</a>
            </div>
        </div>  
    </footer>
</body>

</html>