<?xml version="1.0" encoding="ISO-8859-1"?>
<alert xmlns = "urn:oasis:names:tc:emergency:cap:1.2">
  <identifier>20211028205837865WAS</identifier>
  <sender>wasryan@live.com</sender>
  <sent>2021-10-28T20:58:37-05:00</sent>
  <status>Actual</status>
  <msgType>Alert</msgType>
  <scope>public</scope>
    <info>
      <event>asdfsadf</event>
      <urgency>Expected</urgency>
      <certainty>Likely</certainty>
      <eventCode>
        <valueName>SAME</valueName>
        <value>AVW<value>
      </eventCode>
      <description>asdfasdf</description>
      <area>
        <areaDesc>asdfasdf</areaDesc>
        <geocode>
          <valueName>SAME</valueName>
          <value>06003</value>
        </geocode>
      </area>
    </info>
</alert>
