<?xml version="1.0" encoding="ISO-8859-1"?>
<alert xmlns = "urn:oasis:names:tc:emergency:cap:1.2">
  <identifier>202110282116959WAS</identifier>
  <sender>wasryan@live.com</sender>
  <sent>2021-10-28T21:16:9-05:00</sent>
  <status>System Test</status>
  <msgType>Alert</msgType>
  <scope>public</scope>
    <info>
      <event>sgr</event>
      <urgency>Immediate</urgency>
      <certainty>Likely</certainty>
      <eventCode>
        <valueName>SAME</valueName>
        <value>AVA<value>
      </eventCode>
      <description>zdsrfg</description>
      <area>
        <areaDesc>sdzrg</areaDesc>
        <geocode>
          <valueName>SAME</valueName>
          <value>01007</value>
        </geocode>
      </area>
    </info>
</alert>
