<?xml version="1.0" encoding="UTF-8"?>
<alert xmlns="urn:oasis:names:tc:emergency:cap:1.2">
    <identifier>2022290195229JES</identifier>
    <sender>jesus.a.quiroz@gmail.com</sender>
    <sent>2022-02-09T00:19:05-07:00</sent>
    <status>Actual</status>
    <msgType>Alert</msgType>
    <scope>Public</scope>
    <code>IPAWSv1.0</code>
    <info>
        <language>en-US</language>
        <category>CBRNE</category>
        <event>dgsd</event>
        <urgency>Immediate</urgency>
        <severity>Extreme</severity>
        <certainty>Likely</certainty>
        <eventCode>
            <valueName>SAME</valueName>
            <value>TOE</value>
        </eventCode>
        <expires>2022-02-10T00:19:05-07:00</expires>
        <senderName>jesus.a.quiroz</senderName>
        <headline>headline goes here</headline>
        <description>sggsg</description>
        <instruction>instruction goes here</instruction>
        <web>http://www.google.com</web>
        <parameter>
            <valueName>valuename goes here</valueName>
            <value>value goes here</value>
        </parameter>
        <area>
            <areaDesc>sgsg</areaDesc>
            <polygon>-111.934547,33.411024 -111.934547,33.429364 -111.910172,33.429364 -111.910172,33.411024 -111.934547,33.411024</polygon>
            <geocode>
                <valueName>SAME</valueName>
                <value>004017</value>
            </geocode>
        </area>
    </info>
</alert>