<?xml version="1.0"?>
<alert xmlns="urn:oasis:names:tc:emergency:cap:1.2">
    <identifier>2022313101814224JKE</identifier>
    <sender>jkeigh0773@gmail.com</sender>
    <sent>2022-03-13T10:18:14-04:00</sent>
    <status>Test</status>
    <msgType>Alert</msgType>
    <scope>Public</scope>
    <code>IPAWSv1.0</code>
    <info>
        <language>en-US</language>
        <category>CBRNE</category>
        <event>bad</event>
        <urgency>Immediate</urgency>
        <severity>Extreme</severity>
        <certainty>Likely</certainty>
        <eventCode>
            <valueName>SAME</valueName>
            <value>AVA</value>
        </eventCode>
        <expires>2022-03-14T10:18:14-04:00</expires>
        <description>bad bad bad</description>
        <area>
            <areaDesc>bad area </areaDesc>
            <geocode>
                <valueName>SAME</valueName>
                <value>004000</value>
            </geocode>
        </area>
    </info>
</alert>