<?xml version="1.0" encoding="ISO-8859-1"?>
<alert xmlns = "urn:oasis:names:tc:emergency:cap:1.2">
  <identifier>20211029135636249HAW</identifier>
  <sender>hawkins.aron@gmail.com</sender>
  <sent>2021-10-29T13:56:36-05:00</sent>
  <status>System Test</status>
  <msgType>Alert</msgType>
  <scope>restricted</scope>
    <info>
      <event>asdf</event>
      <urgency>Future</urgency>
      <certainty>Possible</certainty>
      <eventCode>
        <valueName>SAME</valueName>
        <value>AVW<value>
      </eventCode>
    </info>
</alert>
