<?xml version="1.0" encoding="UTF-8"?>
<alert xmlns="urn:oasis:names:tc:emergency:cap:1.2">
    <identifier>2021111302354947JES</identifier>
    <sender>jesus.a.quiroz@gmail.com</sender>
    <sent>2021-11-13T00:23:54-07:00</sent>
    <status>Actual</status>
    <msgType>Alert</msgType>
    <scope>Public</scope>
    <code>IPAWSv1.0</code>
    <info>
        <language>en-US</language>
        <category>Met</category>
        <event>bbbhghhh</event>
        <urgency>Immediate</urgency>
        <severity>Extreme</severity>
        <certainty>Observed</certainty>
        <eventCode>
            <valueName>SAME</valueName>
            <value>CEM</value>
        </eventCode>
        <expires>2021-11-14T00:23:54-07:00</expires>
        <senderName>sender name goes here</senderName>
        <headline>headline goes here</headline>
        <description>hhhhh</description>
        <instruction>instruction goes here</instruction>
        <web>http://www.google.com</web>
        <parameter>
            <valueName>valuename goes here</valueName>
            <value>value goes here</value>
        </parameter>
        <area>
            <areaDesc>hhhhh</areaDesc>
            <circle>-111.938882,33.425657 0.6</circle>
            <polygon>-111.939818,33.420698 -111.939654,33.415305 -111.937208,33.41466 -111.927252,33.414947 -111.926458,33.414884 -111.926265,33.420616 -111.925879,33.423168 -111.917553,33.423777 -111.914635,33.427287 -111.923218,33.430439 -111.931629,33.429042 -111.932487,33.422022 -111.939818,33.420698</polygon>
            <polygon>-111.933174,33.409018 -111.933174,33.414177 -111.922016,33.414177 -111.922016,33.409018 -111.933174,33.409018</polygon>
            <geocode>
                <valueName>SAME</valueName>
                <value>004023</value>
            </geocode>
        </area>
    </info>
    <info>
        <language>es-US</language>
        <category>Met</category>
        <event>bbbhghhh</event>
        <urgency>Immediate</urgency>
        <severity>Extreme</severity>
        <certainty>Observed</certainty>
        <eventCode>
            <valueName>SAME</valueName>
            <value>CEM</value>
        </eventCode>
        <expires>2007-04-22T23:55:00-08:00</expires>
        <senderName>sender name goes here</senderName>
        <headline>headline goes here</headline>
        <description>gkkgkg</description>
        <instruction>instruction goes here</instruction>
        <web>http://www.google.com</web>
        <parameter>
            <valueName>valuename goes here</valueName>
            <value>value goes here</value>
        </parameter>
        <area>
            <areaDesc>hkklhjgkgh</areaDesc>
            <circle>-111.938882,33.425657 0.6</circle>
            <polygon>-111.939818,33.420698 -111.939654,33.415305 -111.937208,33.41466 -111.927252,33.414947 -111.926458,33.414884 -111.926265,33.420616 -111.925879,33.423168 -111.917553,33.423777 -111.914635,33.427287 -111.923218,33.430439 -111.931629,33.429042 -111.932487,33.422022 -111.939818,33.420698</polygon>
            <polygon>-111.933174,33.409018 -111.933174,33.414177 -111.922016,33.414177 -111.922016,33.409018 -111.933174,33.409018</polygon>
            <geocode>
                <valueName>SAME</valueName>
                <value>004023</value>
            </geocode>
        </area>
    </info>
</alert>