/* Style General Elements */
body {
  margin: 0;
  /* padding: 0 50px 50px 50px; */
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-color: #f7f7f7;
}

header {
  max-height: 90px;
  height: 90px;
  display: flex;
  justify-content: space-between;
  background-color: #005287;
}

h1 {
  justify-self: center;
  align-self: center;
  color: white;
}

h2 {
  padding: 0 100px;
}

p {
  /* float: right; */
  font-size: 10px;
}

a:hover {
  opacity: 1;
}
#phone_number, #email, #about {
  text-decoration: none !important;
  color: white !important;
}
button {
  background-color: #4bb543;
  border: none;
  color: white;
  padding: 15px 32px;
  margin: 0 auto;
  text-align: center;
  align-content: center;
  text-decoration: none;
  display: flex;
  justify-content: center;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 5px;
  transition: 0.3s;
}

button:hover {
  background-color: #ff0f0f;
}

footer {
  min-height: 125px;
  display: flex;
  align-items: center;
  background-color: #005287;
  margin: 50px 0 0 0;
  position: relative;
  bottom: 0;
  width: 100%;
  color: white;
}

/* About Page Specific Elements */
#aboutPDIV {
  display: flex;
  justify-content: center;
  color: black;
  font-size: 1em;
}

#aboutP {
  font-size: 1em;
  border-bottom: 2px solid #005287;
  padding-bottom: 1px;
  padding-top: 25px;
  line-height: 1.25rem;
}

#techStack {
  display: flex;
  justify-content: center;
  padding-bottom: 50px;
  line-height: 1.25rem;
}

#techList {
  text-align: center;
  list-style-type: none;
  font-size: 1em;
  display: flex;
  /* justify-content: center; */
  align-items: center;
  flex-wrap: wrap;
  /* margin-right: 2%; */
  padding: 0;
  max-width: 60%;
  line-height: 1.25rem;
}
#techList li {
  flex: 0 0 50%;
  line-height: 1.25rem;
}

#devPDIV {
  display: flex;
  justify-content: center;
  color: black;
  font-size: 1em;
  line-height: 1.25rem;
}

#devP {
  font-size: 1em;
  border-bottom: 2px solid #005287;
  padding-bottom: 1px;
  padding-top: 25px;
  line-height: 1.5rem;
}

#developers {
  display: flex;
  justify-content: center;
  padding-bottom: 50px;
  line-height: 1.5rem;
}
#aboutDesc {
  width: 100%;
  display: flex;
  justify-content: center;
  /* text-align: center; */
}
#aboutDesc p {
  padding: 0 25px;
}
.nav-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.nav-container button {
  margin: 0 15px;
}

.nav-container a {
  text-decoration: none;
}

.alert-nav-container {
  margin-top: 50px;
}

/* Alert Log Page Specific Elements */
.logGrid {
  display: grid;
  grid-template-columns: 1fr;
  gap: 20px;
  padding: 20px 100px;
  justify-content: center;
  align-content: center;
}

table {
  border-collapse: collapse;
  border: 2px solid #3399cc;
}

table,
th,
td {
  border: 2px solid #3399cc;
  padding: 0.5em;
  text-align: center;
}

tr:nth-child(odd) {
  background-color: #f5fafc;
}

/* Alert Page Specific Elements */
.alertGrid3 {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 20px;
  padding: 0 100px;
}

.alertGridEn {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-areas: "EvSubj180 Ev180""En360 geoArea";
  gap: 20px;
  padding: 20px 100px;
}

.alertGridSp {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-areas: "Ev180sp Sp360";
  gap: 20px;
  padding: 20px 100px;
}

.dropdownMenu {
  margin: 5px;
  outline: none;
  resize: none;
  border: 1px solid #229cff;
  border-radius: 2px;
  width: 95%;
}

.dropdownMenu_style {
  margin: 5px;
  width: auto;
  height: auto;
  font-size: 16px;
}

.checkLine {
  display: inline-flexbox;
  gap: 20px;
  padding: 0 100px;
}

#Ev180 {
  grid-area: Ev180;
}

.alertLogo {
  display: flex;
  justify-content: center;
  height: 90px;
}


.event180 {
  min-height: 3em;
  width: 95%;
}

#eventFi180,
#eventFi180sp {
  padding-bottom: 29px;
}

#En360 {
  grid-area: En360;
}

#Ev180sp {
  grid-area: Ev180sp;
}

#Sp360 {
  grid-area: Sp360;
}

.event180 {
  min-height: 3em;
  width: 95%;
}

.selectFIPS {
  width: 95%;
  padding: 6px 10px 6px;
  margin: 5px;
  display: inline-block;
  border: 1px solid #229cff;
  border-radius: 2px;
  box-sizing: border-box;
}

input[type="text"],
select {
  width: 95%;
  padding: 6px 10px 6px;
  margin: 5px;
  display: inline-block;
  border: 1px solid #229cff;
  border-radius: 2px;
  box-sizing: border-box;
}

input[type="email"],
select {
  width: 95%;
  padding: 6px 10px;
  margin: 5px;
  /* margin-right: 10px; */
  display: inline-block;
  border: 1px solid #229cff;
  border-radius: 2px;
  box-sizing: border-box;
}

#mapid {
  height: 80vh;
  border-top: 7px solid #005287;
  border-bottom: 7px solid #005287;
  border-left: 17px solid #005287;
  border-right: 17px solid #005287;
  padding: 10px;
  margin: 0 50px;
}

#map {
  border-top: 7px solid #005287;
  border-bottom: 7px solid #005287;
  border-left: 17px solid #005287;
  border-right: 17px solid #005287;
}

#invis {
  width: 200px;
}

.backLogo {
  display: flex;
  justify-content: center;
  height: 90px;
}

.femaLogo {
  width: 125px;
  align-self: center;
}

#header a {
  text-decoration: none;
  color: white;
}

#back_button {
  max-height: 90px;
  max-width: 90px;
  padding-right: 50px;
}

#header_logo {
  padding-top: 20px;
  padding-right: 50px;
}
#home-footer {
  position: absolute;
  bottom: 0;
}
.footer {
  position: relative;
  /* bottom: 0; */
  width: 100%;
  margin-top: 50px;

}
.footer-container {
  justify-content: space-between;
  width: 100%;
  padding: 0 100px;
}
.footer-container, .footer-logo-container, .footer-info-container {
  display: flex;
  align-items: center;
}
.footer-info-container{
  flex-direction: column;
  row-gap: 10px;
  align-items: flex-start;
}
#index-container {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
  height: 70vh;
  margin: 0 20px;
}


#alertLogHomeButton {
  display: flex;
  justify-content: center;
}

#aboutPDIV {
  display: flex;
  justify-content: center;
  color: black;
  font-size: 1em;
}

#aboutLink {
  font-size: 16px;
  padding: 5px;
  color: white;
  text-decoration: none;
}

.text {
  color: #005287;
  text-decoration: none;
  cursor: pointer;
}

.resField {
  min-height: 3em;
  width: 95%;
}

#sponsorPDIV {
  display: flex;
  justify-content: center;
  color: black;
  font-size: 1em;
  line-height: 1.5rem;
}

#sponsorP {
  font-size: 1em;
  border-bottom: 2px solid #005287;
  padding-bottom: 1px;
  padding-top: 25px;
  line-height: 1.5rem;
}

#devP {
  font-size: 1em;
  border-bottom: 2px solid #005287;
  padding-bottom: 1px;
  padding-top: 25px;
}

.container {
  padding: 10px;
  border: 1px sold #ededed;
  -moz-box-shadow: 0px 0px 5px 1px rgba(0, 0, 0, 0.07);
  -webkit-box-shadow: 0px 0px 5px 1px rgba(0, 0, 0, 0.07);
  box-shadow: 0px 0px 5px 1px rgba(0, 0, 0, 0.07);
}

#alertPage {
  display: flex;
  justify-content: center;
  color: black;
  font-size: 1em;
}

#alertTest {
  font-size: 2em;
  padding: 0 50px;
}

.homeIcon {
  text-decoration: none;
}

.home-body {
  height: 100vh;
}

.alertPageButton {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0;
  transition: .5s
}
.alertPageButton:hover {
  transform: scale(1.05);
  -moz-box-shadow: 0px 0px 5px 1px rgba(0, 0, 0, 0.07);
  -webkit-box-shadow: 0px 0px 5px 1px rgba(0, 0, 0, 0.07);
  box-shadow: 0px 2px 7px 3px rgba(0, 0, 0, 0.07);
}

#aboutHeader {
  display: flex;
  justify-content: center;
  color: black;
}

#aboutHomeButton,
#alertLogHomeButton {
  display: flex;
  justify-content: center;
}

#sponsors {
  display: flex;
  justify-content: center;
  padding-bottom: 50px;
  line-height: 1.25rem;
}

#sponsorList {
  text-align: center;
  justify-content: center;
  list-style-type: none;
  font-size: 1em;
  padding: 0;
  line-height: 1.25rem;
}

#developerList {
  text-align: center;
  justify-content: center;
  list-style-type: none;
  font-size: 1em;
  padding: 0;
  line-height: 1.25rem;
}

/* Style Text Areas */

textarea {
  margin: 5px;
  /* border: none; */
  outline: none;
  resize: none;
  border: 1px solid #229cff;
  border-radius: 2px;
}

.textarea_style {
  margin: 5px;
  width: auto;
  height: auto;
  font-size: 16px;
}

.textarea_style:hover {
  -moz-box-shadow: 0px 0px 5px 1px rgba(0, 0, 0, 0.03);
  -webkit-box-shadow: 0px 0px 5px 1px rgba(0, 0, 0, 0.03);
  box-shadow: 0px 0px 5px 1px rgba(0, 0, 0, 0.03);
  /* border: 1px solid #229CFF; */
}

.textarea_style:focus {
  -moz-box-shadow: 0px 0px 5px 1px rgba(0, 0, 0, 0.03);
  -webkit-box-shadow: 0px 0px 5px 1px rgba(0, 0, 0, 0.03);
  box-shadow: 0px 0px 5px 1px rgba(0, 0, 0, 0.03);
  /* border: 1px solid #229CFF; */
}

.alert360 {
  min-height: 5em;
  width: 97%;
  /* min-width: 20em; */
}

/* Style Page views */

#identifier,
#sender,
#addressField,
#restrictionField,
#selectid {
  margin-top: 11px;
}

.alertGridEn {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-areas: "EvSubj180 Ev180""En360 geoArea";
  gap: 20px;
  padding: 20px 100px;
}

.logGrid {
  display: grid;
  grid-template-columns: 1fr;
  gap: 20px;
  padding: 20px 100px;
}

#Ev180 {
  grid-area: Ev180;
}

#eventFi180,
#eventFi180sp {
  padding-bottom: 29px;
}

#En360 {
  grid-area: En360;
}

.alertGridSp {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-areas: "Ev180sp Sp360";
  gap: 20px;
  padding: 20px 100px;
}

#Ev180sp {
  grid-area: Ev180sp;
}

#Sp360 {
  grid-area: Sp360;
}

.alertGrid2 {
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-content: center;
  align-content: center;
  gap: 20px;
  padding: 0 300px;
}

.alertGrid3 {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 20px;
  padding: 0 100px;
}

.checkLine {
  display: inline-flexbox;
  gap: 20px;
  padding: 0 100px;
}

#spanCheck {
  padding: 10px;
}

#fileAttachDiv {
  display: flex;
  align-items: flex-end;
  justify-content: right;
  margin-right: 100px;
}

#fileAttach {
  width: 163px;
  margin-top: 0px;
}

/* #attachFileBox {
    font-size: 16px;
} */

/*LeafletJS map height*/

.translate {
  padding: 5px 10px;
}

.button1 {
  width: 25%;
  margin: 0 auto;
}

/*    TO FORMAT DATA LIST (BETA) */

datalist {
  border-color: #005287;
  width: 97%;
  position: relative;
  background-color: lightgrey;
  font-family: sans-serif;
  font-size: 0.8rem;
}

option {
  background-color: #bbb;
  padding: 4px;
  margin-bottom: 1px;
  cursor: pointer;
}

#geocodes {
  border-color: #005287;
  width: 97%;
  position: relative;
  background-color: lightgrey;
  font-family: sans-serif;
  font-size: 0.8rem;
}

/* MEDIA QUERIES */

@media only screen and (max-width: 768px) {
  .alertGridEn {
    padding: 20px 50px;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas: "EvSubj180""Ev180""En360""geoArea";
  }
  .footer-container {
    padding: 10px;
  }
  .logGrid {
    padding: 20px 50px;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
  }

  .alertGridSp {
    padding: 20px 50px;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas: "Ev180sp""Sp360";
  }

  .alertGrid3 {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
    grid-template-areas: "msgNum msgSender""msgTypeDrop msgStatusDrop""categoryDrop alertTypeDrop""certaintyDrop eventDrop""scopeDrop urgencyDrop""alertInfoArea ev180";
    padding: 0px 50px;
  }

  #fileAttachDiv {
    margin-right: 50px;
  }

  h1 {
    margin: auto;
  }

  #invis {
    width: 0px;
  }

  #mapid {
    height: 450px;
  }

  table,
  thead,
  tbody,
  th,
  td,
  tr {
    border-collapse: collapse;
    border: 2px solid #3399cc;
    display: block;
  }

  thead tr {
    position: absolute;
  }

  td {
    border: none;
    border-bottom: 1px solid #ededed;
    position: relative;
  }

  td:before {
    position: absolute;
    white-space: nowrap;
  }

  .alertGrid2 {
    padding: 0 50px;
  }
}

@media only screen and (max-width: 480px) {
  #headerLink {
    display: none;
  }
  .alertGridEn {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas: "EvSubj180""Ev180""En360""geArea";
    padding: 0px 25px;
  }
  .alertGrid2 {
    grid-template-columns: 1fr;
    flex-wrap: nowrap;
  }
  .logGrid {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
  }
  #home-footer {
    position: relative;
    margin-top: 50px;
    height: 200px;
  }
  .footer-container {
    flex-direction: column;
    row-gap: 25px;
  }
  .footer-info-container {
    align-items: center;
    row-gap: 25px;
  }
  .footer-info-container a {
    text-decoration: none !important;
    color: white !important;
  }
  
  .alertGridSp {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas: "Ev180sp""Sp360";
    padding: 0px 25px;
  }

  .alertGrid3 {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-areas: "msgNum""msgSender""msgTypeDrop""msgStatusDrop""categoryDrop""alertTypeDrop""certaintyDrop""eventDrop""scopeDrop""urgencyDrop""alertInfoArea""ev180";
    padding: 0px 25px;
    margin-bottom: -20px;
  }

  #mapid {
    height: 400px;
    align-items: center;
    margin: 0 25px;
  }

  .button1 {
    width: 50%;
    margin: 0 auto;
  }

  .checkLine {
    padding: 0px 25px;
    margin-top: 40px;
  }
}